##################################################
# Build
##################################################
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

##################################################
# IDE
##################################################
.vs/
.vscode/
.idea/
*.suo
*.user
*.sln.docstates

##################################################
# NuGet
##################################################
*.nupkg
.nuget/
packages/

##################################################
# Logs & Temp
##################################################
*.log
*.tmp
*.cache
*.pdb

##################################################
# OS
##################################################
.DS_Store
Thumbs.db

##################################################
# Test
##################################################
TestResults/
*.trx
*.coverage

##################################################
# Publish
##################################################
**/publish/
**/app.publish/

##################################################
# Config & Secrets
##################################################
**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Example.json

##################################################
# Docker
##################################################
docker-compose.override.yml